{% if page.codepen %}
  {% assign c = page.codepen %}

  <p class="codepen" data-height="265" data-theme-id="dark"
    data-default-tab="html,result" data-user="jason-heylon" data-slug-hash="{{ c.id }}"
    style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
    data-pen-title="{{ c.title }">
    <span>See the Pen <a href="https://codepen.io/jason-heylon/pen/{{ c.id }}">
    {{ c.title }}</a> by Jason  Heylon (<a href="https://codepen.io/jason-heylon">@jason-heylon</a>)
    on <a href="https://codepen.io">CodePen</a>.</span>
  </p>
  <script async src="https://static.codepen.io/assets/embed/ei.js"></script>


{% endif %}


  <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="html,result" data-user="jason-heylon" data-slug-hash="zYxaQMV" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="zYxaQMV">
    <span>See the Pen <a href="https://codepen.io/jason-heylon/pen/zYxaQMV">
    zYxaQMV</a> by Jason  Heylon (<a href="https://codepen.io/jason-heylon">@jason-heylon</a>)
    on <a href="https://codepen.io">CodePen</a>.</span>
  </p>
  <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
